# .vscode folder
.vscode/**
!.vscode/extensions.json

# python cache files
__pycache__/
*.pyc

# python virtual environment for development
.venv/

# pyright
node_modules/

# macOS
**/.DS_Store
PCC/.vscode/c_cpp_properties.json

#intellij - pycharm
.idea

# Untrack files in a submodule that were causing problems when parsing
# These files may end in .py but the syntax stinks of C
/VMC/apriltag/c/libraries/paho.mqtt.c/test/python/test_offline.py
/VMC/apriltag/c/libraries/paho.mqtt.c/test/python/test1.py
/VMC/apriltag/c/libraries/paho.mqtt.c/test/python/test2.py